.robot {
  position: relative;
  left: 200px;
}

.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
  position: relative;
  left: 140px;
}

@keyframes blink {
  50% {
    background: radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}
.laser {
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
}
.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #666;
  position: relative;
  left: 70px;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #bc6;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
  position: absolute;

}
.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: absolute;
  top: -315px;
  left: -150px;
  z-index: -2;
}
.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -325px;
  left: 185px;
  z-index: -2;
}

.pelvis {
  height: 60px;
  width: 100px;
  background: #ccc;
  border-radius: 60px;
  border: 15px solid #999;
  position: absolute;
  left: 80px;
  top: 550px;
  }

/*normally 80px*/
@keyframes hammer-l {
  from {
    top: 80px;
  }
}
@-webkit-keyframes hammer-l {
  from {
    top: 80px;
  }
}
@-moz-keyframes hammer-l {
  from {
    top: 80px;
  }
}

@keyframes hammer-r {
  from {
    top: 80px;
  }
}
@-webkit-keyframes hammer-r {
  from {
    top: 80px;
  }
}
@-moz-keyframes hammer-r {
  from {
    top: 80px;
  }
}

.hammer {
  /*insert hammer animation here*/
  animation: hammer-l .2s linear infinite;
  -webkit-animation: hammer-l .2s linear infinite;
  -moz-animation: hammer-l .2s linear infinite;
}
.hammer-r {
   animation: hammer-r .2s 75ms linear infinite;
  -webkit-animation: hammer-r .2s 75ms linear infinite;
  -moz-animation: hammer-r .2s 75ms linear infinite;
 
}

.left-leg {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(1.5) rotate(190deg);
  -webkit-transform: scaleY(1.5) rotate(190deg);
  -moz-transform: scaleY(1.5) rotate(190deg);
  position: absolute;
  top: 65px;
  left: -80px;
  z-index: -2;
}
.right-leg {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(-1.5) rotate(15deg);
  -webkit-transform: scaleY(-1.5) rotate(15deg);
  -moz-transform: scaleY(-1.5) rotate(15deg);
  position: absolute;
  top: 57px;
  left: 85px;
  z-index: -1;
}

/*robot part of hammer dance*/
@keyframes hammer-full {
  to  {
    left: 400px;
  }
  /*from {
    left: 100px;
  }*/
}
@-webkit-keyframes hammer-full {
  to {
    left: 400px;
  }
  /*from {
    left: 100px;
  }*/
}
@-moz-keyframes hammer-full {
  to {
    left: 400px;
  }
  /*from {
    left: 100px;
  }*/
}

.robot-hammer {
  animation: hammer-full 1s linear infinite alternate;
  -webkit-animation: hammer-full 1s linear infinite alternate;
  -moz-animation: hammer-full 1s linear infinite alternate;
}



